services:
  - type: web
    name: vicare-medicine-tracker
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: EMAIL_VERIFY_API_KEY
        sync: false
      - key: PORT
        value: 10000

